Here, i took normal financial dataset of particular time period. With the help of python libraries, The data was explored, managed and cleaned in accepted format .

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("BC April 2021 Financial.xls")
df

,Unnamed: 0,2021-2022 WILLIAM OSLER VOLUNTEER ASSOCIATION,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Brampton Civic Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,APRIL 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Budget 2021,%,GM,Revenue,INV. Cost,%,Y-T-D,2021-04-01 00:00:00,%,Average Yearly Earnings,GM,Revenue,NaN,2020-04-01 00:00:00,NaN,GM,Lottery Monthly Net Earnings
6,NaN,NaN,NaN,of Total,NaN,to Budget %,NaN,of Total,SALES,Actual,of Total,NaN,NaN,yr over yr %,NaN,Actual,NaN,NaN,NaN
7,NaN,NaN,$,NaN,%,,NaN,NaN,$,$,NaN,NaN,%,NaN,NaN,$,% of Total,%,NaN
8,NaN,,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,Toys,900,0.056998,0.55,-0.040307,11848.5,0.094005,263.55,263.55,0.032101,145.74315,0.553,NaN,NaN,0,NaN,0.5328,NaN
11,NaN,Giftware,4000,0.253325,0.55,-0.213561,51128.33,0.40565,627.87,627.87,0,303.010062,0.4826,NaN,NaN,0,NaN,0.4789,NaN
12,NaN,Flowers,0,0,0.2,0,463.78,0.00368,0,0,0,0,0,NaN,NaN,0,NaN,0.2001,NaN
13,NaN,Candy/Confectionary,4500,0.284991,0.4,0.044629,8133.52,0.064531,5204.69,5204.69,0.633938,2253.63077,0.433,NaN,NaN,0,NaN,0.5376,NaN
14,NaN,Postage,35,0.002217,0.15,-0.00076,48.46,0.000384,23,23,0.002801,2.7485,0.1195,NaN,NaN,0,NaN,0.1405,NaN
15,NaN,Children's Wear,250,0.015833,0.5,-0.01501,1520.99,0.012067,12.99,12.99,0.001582,6.672963,0.5137,NaN,NaN,0,NaN,0.5454,NaN
16,NaN,Cards/Wrap,325,0.020583,0.5,0.000599,1236.99,0,334.46,334.46,0.040738,197.130724,0.5894,NaN,NaN,0,NaN,0.5124,NaN
17,NaN,Books,25,0.001583,1,0.001583,0,0,50,50,0.00609,50,1,NaN,NaN,0,NaN,1,NaN
18,NaN,Apparel,2900,0.183661,0.5,-0.147594,26635.52,0.211325,569.49,569.49,0.069365,261.509808,0.4592,NaN,NaN,0,NaN,0.2723,NaN
19,NaN,Jewellery,450,0.028499,0.5,-0.021222,8478.5,0.067268,114.9,114.9,0.013995,62.20686,0.5414,NaN,NaN,0,NaN,0.464,NaN
20,NaN,Magazines / Xwords,25,0.001583,0.7,-0.000567,18.23,0.000145,16.04,16.04,0.001954,11.5488,0.72,NaN,NaN,0,NaN,0.7194,NaN
21,NaN,Balloons,50,0.003167,0.6,-0.001287,1603.72,0.012724,29.68,29.68,0.003615,20.016192,0.6744,NaN,NaN,0,NaN,0.6647,NaN
22,NaN,Handknits,50,0.003167,1,-0.003167,0.39,0.000003,0,0,0,0,1,NaN,NaN,0,NaN,1,NaN
23,NaN,Baby Supplies,150,0.0095,0.6,-0.003163,1813.17,0.014386,100.05,100.05,0.012186,56.438205,0.5641,NaN,NaN,0,NaN,0.5798,NaN
24,NaN,Nursing Supplies,0,0,0.3,0,0,0,0,0,0,0,0,0,NaN,0,NaN,0,NaN
25,NaN,Sundries/ Toiletries,220,1.5,0.6,-0.008258,2065.12,0.016385,89.61,89.61,0.010915,47.726286,0.5326,NaN,NaN,0,NaN,0.5304,NaN
26,NaN,Stationary,110,1,0.6,-0.005265,485.75,0.003854,26.86,26.86,0.003272,13.059332,0.4862,NaN,NaN,0,NaN,0.5659,NaN
27,NaN,Accessories,1800,25,0.55,-0.066749,10270.18,0.081483,746.03,746.03,0.090867,424.864085,0.5695,NaN,NaN,0,NaN,0.5748,NaN
28,NaN,Miscellaneous,0,0,0.5,0,8.55,0.000068,0,0,0,0,0,0,NaN,0,NaN,0,NaN
29,NaN,Condiments,0,0,0.5,0,280.88,0.002228,0,0,0,0,0.3185,0,NaN,0,NaN,0.4566,NaN
30,NaN,Penny Rounding,0,0,0,0.000055,0,0,0.87,0.87,1,0.87,1,0,NaN,0,NaN,1,NaN
31,NaN,Total Revenue,15790,1,0,-4.80045,126040.58,1,NaN,8210.09,1.923419,3857.175737,0.6365,NaN,NaN,0,NaN,0.5877,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,Vendor,0,NaN,0,NaN,0,NaN,0,0,0.999,NaN,1,0,NaN,0,NaN,1,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,OLG Online,0,NaN,0.05,0,0,NaN,29302,29302,32.66,1465.1,0.05,0,NaN,0,NaN,NaN,1465.1
36,NaN,Lottery Instant,0,NaN,0.08,0,0,NaN,9071,9071,0.087621,725.68,0.08,0,NaN,0,NaN,NaN,725.68
37,NaN,OLG Online Winnings,0,NaN,0.02,NaN,NaN,NaN,4059,4059,NaN,81.18,0.02,NaN,NaN,NaN,NaN,NaN,81.18
38,NaN,Instant Winnings,0,NaN,0.03,NaN,NaN,NaN,5225.5,5225.5,NaN,156.765,0.03,NaN,NaN,NaN,NaN,NaN,156.77
39,NaN,Free Tickets,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.05,,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,Total Lottery,0,NaN,NaN,NaN,NaN,NaN,NaN,47657.5,32.747621,2580.775,NaN,NaN,NaN,NaN,NaN,NaN,2428.73
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,Gift Cards,0,NaN,0,0,0,NaN,NaN,0,0,0,1,0,NaN,NaN,NaN,1,NaN
43,NaN,Grand Total,15790,NaN,0,55.563705,126040.58,0,NaN,103525.09,68.417661,6437.950737,0.6365,0,NaN,0,NaN,0.5877,NaN
44,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
raw_data = pd.ExcelFile("BC April 2021 Financial.xls")

In [6]:
raw_data.sheet_names

['2020 BCH December Sales', 'Sheet1']

In [13]:
raw_data.parse(sheetname='2020 BCH December Sales', skiprows=0).head(10)

,Unnamed: 0,2021-2022 WILLIAM OSLER VOLUNTEER ASSOCIATION,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Brampton Civic Hospital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,APRIL 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Budget 2021,%,GM,Revenue,INV. Cost,%,Y-T-D,2021-04-01 00:00:00,%,Average Yearly Earnings,GM,Revenue,NaN,2020-04-01 00:00:00,NaN,GM,Lottery Monthly Net Earnings
6,NaN,NaN,NaN,of Total,NaN,to Budget %,NaN,of Total,SALES,Actual,of Total,NaN,NaN,yr over yr %,NaN,Actual,NaN,NaN,NaN
7,NaN,NaN,$,NaN,%,,NaN,NaN,$,$,NaN,NaN,%,NaN,NaN,$,% of Total,%,NaN
8,NaN,,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
raw_data.parse(sheetname='2020 BCH December Sales', skiprows=8).head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,of Total,Unnamed: 4,to Budget %,Unnamed: 6,of Total.1,SALES,Actual,of Total.2,Unnamed: 11,Unnamed: 12,yr over yr %,Unnamed: 14,Actual.1,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,$,NaN,%,,NaN,NaN,$,$,NaN,NaN,%,NaN,NaN,$,% of Total,%,NaN
1,NaN,,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,,NaN

In [26]:
cols1 = list(raw_data.parse(sheetname='2020 BCH December Sales', skiprows=7).head(1).columns)
cols1

['Unnamed: 0',
 'Unnamed: 1',
 'Unnamed: 2',
 'of Total',
 'Unnamed: 4',
 'to Budget %',
 'Unnamed: 6',
 'of Total.1',
 'SALES',
 'Actual',
 'of Total.2',
 'Unnamed: 11',
 'Unnamed: 12',
 'yr over yr %',
 'Unnamed: 14',
 'Actual.1',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18']

In [37]:
df = pd.read_excel("BC April 2021 Financial.xls", header=6, usecols='B:S', skipfooter=1)
df.head()

,Unnamed: 1,Budget 2021,%,GM,Revenue,INV. Cost,%.1,Y-T-D,2021-04-01 00:00:00,%.2,Average Yearly Earnings,GM.1,Revenue.1,Unnamed: 14,2020-04-01 00:00:00,Unnamed: 16,GM,Lottery Monthly Net Earnings
0,NaN,NaN,of Total,NaN,to Budget %,NaN,of Total,SALES,Actual,of Total,NaN,NaN,yr over yr %,NaN,Actual,NaN,NaN,NaN
1,NaN,$,NaN,%,,NaN,NaN,$,$,NaN,NaN,%,NaN,NaN,$,% of Total,%,NaN
2,,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Toys,900,0.056998,0.55,-0.040307,11848.5,0.094005,263.55,263.55,0.032101,145.74315,0.553,NaN,NaN,0,NaN,0.5328,NaN

In [38]:
df.tail()

,Unnamed: 1,Budget 2021,%,GM,Revenue,INV. Cost,%.1,Y-T-D,2021-04-01 00:00:00,%.2,Average Yearly Earnings,GM.1,Revenue.1,Unnamed: 14,2020-04-01 00:00:00,Unnamed: 16,GM,Lottery Monthly Net Earnings
33,Free Tickets,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.050000,,NaN,NaN,NaN,NaN,NaN,NaN
34,Total Lottery,0,NaN,NaN,NaN,NaN,NaN,NaN,47657.5,32.747621,2580.775000,NaN,NaN,NaN,NaN,NaN,NaN,2428.73
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Gift Cards,0,NaN,0,0,0.00,NaN,NaN,0,0,0.000000,1,0,NaN,NaN,NaN,1,NaN
37,Grand Total,15790,NaN,0,55.563705,126040.58,0,NaN,103525.09,68.417661,6437.950737,0.6365,0,NaN,0,NaN,0.5877,NaN

In [44]:
df_trans = df.T
df_trans.head()

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
Unnamed: 1,NaN,NaN,,NaN,Toys,Giftware,Flowers,Candy/Confectionary,Postage,Children's Wear,...,NaN,OLG Online,Lottery Instant,OLG Online Winnings,Instant Winnings,Free Tickets,Total Lottery,NaN,Gift Cards,Grand Total
Budget 2021,NaN,$,NaN,NaN,900,4000,0,4500,35,250,...,NaN,0,0,0,0,0,0,NaN,0,15790
%,of Total,NaN,NaN,NaN,0.056998,0.253325,0,0.284991,0.002217,0.015833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GM,NaN,%,,NaN,0.55,0.55,0.2,0.4,0.15,0.5,...,NaN,0.05,0.08,0.02,0.03,NaN,NaN,NaN,0,0
Revenue,to Budget %,,,NaN,-0.040307,-0.213561,0,0.044629,-0.00076,-0.01501,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,0,55.563705

In [50]:
df_new_trans = df_trans.rename(columns=df_trans.iloc[0]).drop(df_trans.index[0])
df_new_trans.head()

,NaN,NaN,,NaN,Toys,Giftware,Flowers,Candy/Confectionary,Postage,Children's Wear,...,NaN,OLG Online,Lottery Instant,OLG Online Winnings,Instant Winnings,Free Tickets,Total Lottery,NaN,Gift Cards,Grand Total
Budget 2021,NaN,$,NaN,NaN,900,4000,0,4500,35,250,...,NaN,0,0,0,0,0,0,NaN,0,15790
%,of Total,NaN,NaN,NaN,0.056998,0.253325,0,0.284991,0.002217,0.015833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GM,NaN,%,,NaN,0.55,0.55,0.2,0.4,0.15,0.5,...,NaN,0.05,0.08,0.02,0.03,NaN,NaN,NaN,0,0
Revenue,to Budget %,,,NaN,-0.040307,-0.213561,0,0.044629,-0.00076,-0.01501,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,0,55.563705
INV. Cost,NaN,NaN,NaN,NaN,11848.5,51128.33,463.78,8133.52,48.46,1520.99,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,126040.58

In [53]:
df1 = df_new_trans.assign(Index=range(len(df_new_trans))).set_index('Index')
df1.head()

,NaN,NaN,,NaN,Toys,Giftware,Flowers,Candy/Confectionary,Postage,Children's Wear,...,NaN,OLG Online,Lottery Instant,OLG Online Winnings,Instant Winnings,Free Tickets,Total Lottery,NaN,Gift Cards,Grand Total
Index,,,,,,,,,,,,,,,,,,,,,
0,NaN,$,NaN,NaN,900,4000,0,4500,35,250,...,NaN,0,0,0,0,0,0,NaN,0,15790
1,of Total,NaN,NaN,NaN,0.056998,0.253325,0,0.284991,0.002217,0.015833,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,%,,NaN,0.55,0.55,0.2,0.4,0.15,0.5,...,NaN,0.05,0.08,0.02,0.03,NaN,NaN,NaN,0,0
3,to Budget %,,,NaN,-0.040307,-0.213561,0,0.044629,-0.00076,-0.01501,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,0,55.563705
4,NaN,NaN,NaN,NaN,11848.5,51128.33,463.78,8133.52,48.46,1520.99,...,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,126040.58

In [54]:
df1.drop(columns=df1.columns[:3], 
        axis=1, 
        inplace=True)
df1.head()

,Toys,Giftware,Flowers,Candy/Confectionary,Postage,Children's Wear,Cards/Wrap,Books,Apparel,Jewellery,...,Total Revenue,Vendor,OLG Online,Lottery Instant,OLG Online Winnings,Instant Winnings,Free Tickets,Total Lottery,Gift Cards,Grand Total
Index,,,,,,,,,,,,,,,,,,,,,
0,900,4000,0,4500,35,250,325,25,2900,450,...,15790,0,0,0,0,0,0,0,0,15790
1,0.056998,0.253325,0,0.284991,0.002217,0.015833,0.020583,0.001583,0.183661,0.028499,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.55,0.55,0.2,0.4,0.15,0.5,0.5,1,0.5,0.5,...,0,0,0.05,0.08,0.02,0.03,NaN,NaN,0,0
3,-0.040307,-0.213561,0,0.044629,-0.00076,-0.01501,0.000599,0.001583,-0.147594,-0.021222,...,-4.80045,NaN,0,0,NaN,NaN,NaN,NaN,0,55.563705
4,11848.5,51128.33,463.78,8133.52,48.46,1520.99,1236.99,0.0,26635.52,8478.5,...,126040.58,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,126040.58

In [60]:
df_upd = pd.read_excel("BC April 2021 Financial.xls", header=6, usecols='B:S', skipfooter=1, skiprows=4)
df_upd.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Toys,900.0,0.056998,0.55,-0.040307,11848.50,0.094005,263.55,263.55,0.032101,145.743150,0.553,NaN,NaN,0.0,NaN,0.5328,NaN
1,Giftware,4000.0,0.253325,0.55,-0.213561,51128.33,0.405650,627.87,627.87,0.000000,303.010062,0.4826,NaN,NaN,0.0,NaN,0.4789,NaN
2,Flowers,0.0,0.000000,0.20,0.000000,463.78,0.003680,0.00,0.00,0.000000,0.000000,0,NaN,NaN,0.0,NaN,0.2001,NaN
3,Candy/Confectionary,4500.0,0.284991,0.40,0.044629,8133.52,0.064531,5204.69,5204.69,0.633938,2253.630770,0.433,NaN,NaN,0.0,NaN,0.5376,NaN
4,Postage,35.0,0.002217,0.15,-0.000760,48.46,0.000384,23.00,23.00,0.002801,2.748500,0.1195,NaN,NaN,0.0,NaN,0.1405,NaN

In [63]:
df_upd.columns = ['Items', 'Budget 2021 ($)', 'Fake1', 'GM (%)', 'Fake2', 'Fake3', 'Fake4', 'YTD SALES ($)', 'Apr-21 Actual ($)', 'Fake5', 'Fake6', 'GM (%)', 'Fake7', 'Fake8', 'Apr-20 Actual ($)', 'Fake9', 'GM', 'Lottery Monthly Net Earnings']
df_upd.head()

,Items,Budget 2021 ($),Fake1,GM (%),Fake2,Fake3,Fake4,YTD SALES ($),Apr-21 Actual ($),Fake5,Fake6,GM (%),Fake7,Fake8,Apr-20 Actual ($),Fake9,GM,Lottery Monthly Net Earnings
0,Toys,900.0,0.056998,0.55,-0.040307,11848.50,0.094005,263.55,263.55,0.032101,145.743150,0.553,NaN,NaN,0.0,NaN,0.5328,NaN
1,Giftware,4000.0,0.253325,0.55,-0.213561,51128.33,0.405650,627.87,627.87,0.000000,303.010062,0.4826,NaN,NaN,0.0,NaN,0.4789,NaN
2,Flowers,0.0,0.000000,0.20,0.000000,463.78,0.003680,0.00,0.00,0.000000,0.000000,0,NaN,NaN,0.0,NaN,0.2001,NaN
3,Candy/Confectionary,4500.0,0.284991,0.40,0.044629,8133.52,0.064531,5204.69,5204.69,0.633938,2253.630770,0.433,NaN,NaN,0.0,NaN,0.5376,NaN
4,Postage,35.0,0.002217,0.15,-0.000760,48.46,0.000384,23.00,23.00,0.002801,2.748500,0.1195,NaN,NaN,0.0,NaN,0.1405,NaN

In [64]:
df_upd

,Items,Budget 2021 ($),Fake1,GM (%),Fake2,Fake3,Fake4,YTD SALES ($),Apr-21 Actual ($),Fake5,Fake6,GM (%),Fake7,Fake8,Apr-20 Actual ($),Fake9,GM,Lottery Monthly Net Earnings
0,Toys,900.0,0.056998,0.55,-0.040307,11848.50,0.094005,263.55,263.55,0.032101,145.743150,0.553,NaN,NaN,0.0,NaN,0.5328,NaN
1,Giftware,4000.0,0.253325,0.55,-0.213561,51128.33,0.405650,627.87,627.87,0.000000,303.010062,0.4826,NaN,NaN,0.0,NaN,0.4789,NaN
2,Flowers,0.0,0.000000,0.20,0.000000,463.78,0.003680,0.00,0.00,0.000000,0.000000,0,NaN,NaN,0.0,NaN,0.2001,NaN
3,Candy/Confectionary,4500.0,0.284991,0.40,0.044629,8133.52,0.064531,5204.69,5204.69,0.633938,2253.630770,0.433,NaN,NaN,0.0,NaN,0.5376,NaN
4,Postage,35.0,0.002217,0.15,-0.000760,48.46,0.000384,23.00,23.00,0.002801,2.748500,0.1195,NaN,NaN,0.0,NaN,0.1405,NaN
5,Children's Wear,250.0,0.015833,0.50,-0.015010,1520.99,0.012067,12.99,12.99,0.001582,6.672963,0.5137,NaN,NaN,0.0,NaN,0.5454,NaN
6,Cards/Wrap,325.0,0.020583,0.50,0.000599,1236.99,0.000000,334.46,334.46,0.040738,197.130724,0.5894,NaN,NaN,0.0,NaN,0.5124,NaN
7,Books,25.0,0.001583,1.00,0.001583,0.00,0.000000,50.00,50.00,0.006090,50.000000,1,NaN,NaN,0.0,NaN,1.0000,NaN
8,Apparel,2900.0,0.183661,0.50,-0.147594,26635.52,0.211325,569.49,569.49,0.069365,261.509808,0.4592,NaN,NaN,0.0,NaN,0.2723,NaN
9,Jewellery,450.0,0.028499,0.50,-0.021222,8478.50,0.067268,114.90,114.90,0.013995,62.206860,0.5414,NaN,NaN,0.0,NaN,0.4640,NaN
10,Magazines / Xwords,25.0,0.001583,0.70,-0.000567,18.23,0.000145,16.04,16.04,0.001954,11.548800,0.72,NaN,NaN,0.0,NaN,0.7194,NaN
11,Balloons,50.0,0.003167,0.60,-0.001287,1603.72,0.012724,29.68,29.68,0.003615,20.016192,0.6744,NaN,NaN,0.0,NaN,0.6647,NaN
12,Handknits,50.0,0.003167,1.00,-0.003167,0.39,0.000003,0.00,0.00,0.000000,0.000000,1,NaN,NaN,0.0,NaN,1.0000,NaN
13,Baby Supplies,150.0,0.009500,0.60,-0.003163,1813.17,0.014386,100.05,100.05,0.012186,56.438205,0.5641,NaN,NaN,0.0,NaN,0.5798,NaN
14,Nursing Supplies,0.0,0.000000,0.30,0.000000,0.00,0.000000,0.00,0.00,0.000000,0.000000,0,0.0,NaN,0.0,NaN,0.0000,NaN
15,Sundries/ Toiletries,220.0,1.500000,0.60,-0.008258,2065.12,0.016385,89.61,89.61,0.010915,47.726286,0.5326,NaN,NaN,0.0,NaN,0.5304,NaN
16,Stationary,110.0,1.000000,0.60,-0.005265,485.75,0.003854,26.86,26.86,0.003272,13.059332,0.4862,NaN,NaN,0.0,NaN,0.5659,NaN
17,Accessories,1800.0,25.000000,0.55,-0.066749,10270.18,0.081483,746.03,746.03,0.090867,424.864085,0.5695,NaN,NaN,0.0,NaN,0.5748,NaN
18,Miscellaneous,0.0,0.000000,0.50,0.000000,8.55,0.000068,0.00,0.00,0.000000,0.000000,0,0.0,NaN,0.0,NaN,0.0000,NaN
19,Condiments,0.0,0.000000,0.50,0.000000,280.88,0.002228,0.00,0.00,0.000000,0.000000,0.3185,0.0,NaN,0.0,NaN,0.4566,NaN
20,Penny Rounding,0.0,0.000000,0.00,0.000055,0.00,0.000000,0.87,0.87,1.000000,0.870000,1,0.0,NaN,0.0,NaN,1.0000,NaN
21,Total Revenue,15790.0,1.000000,0.00,-4.800450,126040.58,1.000000,NaN,8210.09,1.923419,3857.175737,0.6365,NaN,NaN,0.0,NaN,0.5877,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Vendor,0.0,NaN,0.00,NaN,0.00,NaN,0.00,0.00,0.999000,NaN,1,0.0,NaN,0.0,NaN,1.0000,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,OLG Online,0.0,NaN,0.05,0.000000,0.00,NaN,29302.00,29302.00,32.660000,1465.100000,0.05,0.0,NaN,0.0,NaN,NaN,1465.10
26,Lottery Instant,0.0,NaN,0.08,0.000000,0.00,NaN,9071.00,9071.00,0.087621,725.680000,0.08,0.0,NaN,0.0,NaN,NaN,725.68
27,OLG Online Winnings,0.0,NaN,0.02,NaN,NaN,NaN,4059.00,4059.00,NaN,81.180000,0.02,NaN,NaN,NaN,NaN,NaN,81.18
28,Instant Winnings,0.0,NaN,0.03,NaN,NaN,NaN,5225.50,5225.50,NaN,156.765000,0.03,NaN,NaN,NaN,NaN,NaN,156.77
29,Free Tickets,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.050000,,NaN,NaN,NaN,NaN,NaN,NaN
30,Total Lottery,0.0,NaN,NaN,NaN,NaN,NaN,NaN,47657.50,32.747621,2580.775000,NaN,NaN,NaN,NaN,NaN,NaN,2428.73
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Gift Cards,0.0,NaN,0.00,0.000000,0.00,NaN,NaN,0.00,0.000000,0.000000,1,0.0,NaN,NaN,NaN,1.0000,NaN
33,Grand Total,15790.0,NaN,0.00,55.563705,126040.58,0.000000,NaN,103525.09,68.417661,6437.950737,0.6365,0.0,NaN,0.0,NaN,0.5877,NaN

In [65]:
columns = ['Fake1', 'Fake2', 'Fake3', 'Fake4', 'Fake5', 'Fake6', 'Fake7', 'Fake8', 'Fake9']
df_upd.drop(columns, inplace=True, axis=1)
df_upd.head()

,Items,Budget 2021 ($),GM (%),YTD SALES ($),Apr-21 Actual ($),GM (%),Apr-20 Actual ($),GM,Lottery Monthly Net Earnings
0,Toys,900.0,0.55,263.55,263.55,0.553,0.0,0.5328,NaN
1,Giftware,4000.0,0.55,627.87,627.87,0.4826,0.0,0.4789,NaN
2,Flowers,0.0,0.20,0.00,0.00,0,0.0,0.2001,NaN
3,Candy/Confectionary,4500.0,0.40,5204.69,5204.69,0.433,0.0,0.5376,NaN
4,Postage,35.0,0.15,23.00,23.00,0.1195,0.0,0.1405,NaN

In [66]:
df_upd

,Items,Budget 2021 ($),GM (%),YTD SALES ($),Apr-21 Actual ($),GM (%),Apr-20 Actual ($),GM,Lottery Monthly Net Earnings
0,Toys,900.0,0.55,263.55,263.55,0.553,0.0,0.5328,NaN
1,Giftware,4000.0,0.55,627.87,627.87,0.4826,0.0,0.4789,NaN
2,Flowers,0.0,0.20,0.00,0.00,0,0.0,0.2001,NaN
3,Candy/Confectionary,4500.0,0.40,5204.69,5204.69,0.433,0.0,0.5376,NaN
4,Postage,35.0,0.15,23.00,23.00,0.1195,0.0,0.1405,NaN
5,Children's Wear,250.0,0.50,12.99,12.99,0.5137,0.0,0.5454,NaN
6,Cards/Wrap,325.0,0.50,334.46,334.46,0.5894,0.0,0.5124,NaN
7,Books,25.0,1.00,50.00,50.00,1,0.0,1.0000,NaN
8,Apparel,2900.0,0.50,569.49,569.49,0.4592,0.0,0.2723,NaN
9,Jewellery,450.0,0.50,114.90,114.90,0.5414,0.0,0.4640,NaN
10,Magazines / Xwords,25.0,0.70,16.04,16.04,0.72,0.0,0.7194,NaN
11,Balloons,50.0,0.60,29.68,29.68,0.6744,0.0,0.6647,NaN
12,Handknits,50.0,1.00,0.00,0.00,1,0.0,1.0000,NaN
13,Baby Supplies,150.0,0.60,100.05,100.05,0.5641,0.0,0.5798,NaN
14,Nursing Supplies,0.0,0.30,0.00,0.00,0,0.0,0.0000,NaN
15,Sundries/ Toiletries,220.0,0.60,89.61,89.61,0.5326,0.0,0.5304,NaN
16,Stationary,110.0,0.60,26.86,26.86,0.4862,0.0,0.5659,NaN
17,Accessories,1800.0,0.55,746.03,746.03,0.5695,0.0,0.5748,NaN
18,Miscellaneous,0.0,0.50,0.00,0.00,0,0.0,0.0000,NaN
19,Condiments,0.0,0.50,0.00,0.00,0.3185,0.0,0.4566,NaN
20,Penny Rounding,0.0,0.00,0.87,0.87,1,0.0,1.0000,NaN
21,Total Revenue,15790.0,0.00,NaN,8210.09,0.6365,0.0,0.5877,NaN
22,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
23,Vendor,0.0,0.00,0.00,0.00,1,0.0,1.0000,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,OLG Online,0.0,0.05,29302.00,29302.00,0.05,0.0,NaN,1465.10
26,Lottery Instant,0.0,0.08,9071.00,9071.00,0.08,0.0,NaN,725.68
27,OLG Online Winnings,0.0,0.02,4059.00,4059.00,0.02,NaN,NaN,81.18
28,Instant Winnings,0.0,0.03,5225.50,5225.50,0.03,NaN,NaN,156.77
29,Free Tickets,0.0,NaN,NaN,NaN,,NaN,NaN,NaN
30,Total Lottery,0.0,NaN,NaN,47657.50,NaN,NaN,NaN,2428.73
31,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN
32,Gift Cards,0.0,0.00,NaN,0.00,1,NaN,1.0000,NaN
33,Grand Total,15790.0,0.00,NaN,103525.09,0.6365,0.0,0.5877,NaN